.main {
    position: absolute;
    top: 88%;
    width: 100%;
    height: max-content;
    min-height: 10rem;
    border-radius: 5px;
    background-color: rgb(90, 14, 90);
    padding: 10px 0px;
    z-index: 10;
    cursor: pointer;
}

.profiles {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.profile {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #2d3236;
}

.profile img {
    margin: 0px 8px;
    object-position: center;
    object-fit: cover;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.profile h1 {
    font-size: 18px;
    font-weight: 400;
    color: #088aee;
    font-family: "Roboto", sans-serif;
}