.main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #14181B;
    flex-direction: column;
}

.txt {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.txt h1,
span {
    margin: 10px 0px;
    text-align: center;
    color: #007FFF;
    font-size: 18px;
    font-family: "Sometype Mono", monospace;
}

.loader {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}